body{
    background-color:#333;
}
div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.show {
    color: yellow;
    font-size: 4em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
span {
    padding: 20px;
    background: #444;background: #444;
    border-radius: 15px;

}