body{
    background-color:#333;
}
div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.show {
    color: yellow;
    font-size: 4em;
    text-align: center;
    ont-family: Arial, Helvetica, sans-serif;
}